button{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:active{
    outline: none;
  }
  &:hover{
    outline: none;
  }

}
a{
  color: $brand-two;
}
a.alt {
  color: $brand-two;
  font-size: 100%;
  text-decoration: underline;
}

.button-primary, input[type=submit] {
  padding: 10px 19px;
  display: inline-block;
  font-size: 1.3rem;
  font-family: "effra", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background: $brand-two;
  margin: 0.5rem 0 0 0;
  border: none;
  color: $white;

  &:hover {
    background-color: $brand-one;
    color: $white;
    outline: none;

  }
  &:active,&.focus {
    background-color: $brand-one;
    color: $white;
    outline: none;


  }

  &:focus {
    background-color: $brand-two;
    color: $white;
    outline: none;
  }
  @media only screen and (max-width: 768px) {
    padding: 15px 25px;
  }

  & > span{
    font-size: 1.3rem;
    font-family: "effra", sans-serif;
  }
}

input[type=submit] {
  width: auto;
  float: right;
  border: none;
}

input[type=number] {
  width: 100%;
  color: $white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $brand-one;

}

::-moz-placeholder { /* Firefox 19+ */
  color: $brand-one;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $brand-one;
}

:-moz-placeholder { /* Firefox 18- */
  color: $brand-one;
}


.button-primary.choices {
  padding: 10px 19px;
  display: inline-block;
  font-size: 1.3rem;
  font-family: "effra", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background: $brand-two;
  margin: 0.5rem 0 0 0;
  border: none;
  color: $white;

  &:hover {
    background-color: $brand-one;
    color: $white;
    outline: none;

  }
  &:active,&.focus {
    background-color: $brand-one;
    color: $white;
    outline: none;


  }

  &:focus {
    background-color: $brand-one;
    color: $white;
    outline: none;

  }
  @media only screen and (max-width: 768px) {
    padding: 15px 25px;
  }

  & > span{
    font-size: 1.3rem;
    font-family: "effra", sans-serif;
  }
}
.button-secondary{
  padding: 10px 19px;
  display: inline-block;
  font-size: 1.3rem;
  font-family: "effra", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background: $brand-two;
  margin: 0.5rem 0 0 0;
  border: none;
  color: $white;

  &:hover {
    background-color: $brand-one;
    color: $white;
    outline: none;

  }
  &:active,&.focus {
    background-color: $brand-one;
    color: $white;
    outline: none;


  }

  &:focus {
    background-color: $brand-one;
    color: $white;
    outline: none;

  }
  @media only screen and (max-width: 768px) {
    padding: 15px 25px;
  }
  &.alt{
    background-color: $white!important;
    color: $brand-one!important;
    border: 2px solid $brand-one;
    &:hover {
      background-color: $brand-one!important;
      color: $white!important;
      outline: none;

    }
  }
  & > span{
    font-size: 1.3rem;
    font-family: "effra", sans-serif;
  }
}

